PORT=8003
DATABASE_URL=jdbc:postgresql://db:5432/reservationsdb?user=coworking_user&password=coworking_pass
SECRET_KEY=clave_super_secreta_compartida
AUTH_SERVICE_URL=http://auth-service:8001
SPACE_SERVICE_URL=http://space-service:8002
