PORT=8003
DATABASE_URL=jdbc:postgresql://reservation_db:5432/reservationsdb?user=coworking_user&password=coworking_pass
SECRET_KEY=clave_super_secreta_dev_co_working_2026_local
AUTH_SERVICE_URL=http://auth-service:8001
SPACE_SERVICE_URL=http://space-service:8002
BILLING_SERVICE_URL=http://billing-service:8004
